#NavBar
{
	position:absolute;
	top:0%;
	width:100%;
	height:8%;
	background-color:#2a2740;

	margin-top:0%;
	
}


*{
    font-family:"SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar li a{
 color: white!important;
 text-decoration: none;
 margin-left: 20px;
}

.navbar li a:hover{
   color: rgb(199, 175, 175)!important;
}

/* Footer */
.rounded-circle{
  font-size: 20px;
  border: none;
  background-color: #bb7c62;
  
}

.social-media a:hover{
  background-color: #c5907a ;
}

footer ul{
 margin-top: 0;
 padding: 0;
 list-style: none;
 font-size: 18px;
 line-height: 1.6;
 margin-bottom: 35px;
 text-align: center;
}

footer ul li a{
  text-decoration: none;
  color: white;
}

footer ul li a:hover{
  color: #bb7c62;
}

footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.underfooter{
  background-color: #c0866e;
  padding-top: 10px;
  padding-bottom: 1px;
  text-align: center;
  color: #fff;
 font-size: 10px;
}






.Area1Image1
{
  background-color:#D6F0FF;
  position:fixed;
  top:114%;
  width:50%;
  height:62%;
  left:0%;
  margin-top:0%;
  margin-right:0%;
  
	
 
	
	
	
}


.Area1Image1Description
{
  background-color:#D6F0FF;
  position:absolute;
  top:114%;
  width:50%;
  height:55%;
  right:0%;
  
  margin-top:0%;
  margin-right:0%;
  
	
 
	
	
	
}



.Area1Image1
{
  background-color:#f7fafa;
  position:absolute;
  top:115%;
  width:60%;
  height:65%;
  left:0%;
  
  margin-top:0%;
  margin-right:0%;
 
	
	
	
}


.Area1Image1Description
{
  background-color:#f7fafa;
  position:absolute;
  top:115%;
  width:50%;
  height:65%;
  right:0%;
  
  margin-top:0%;
  margin-right:0%;
 
}


.Area1Image2
{
  background-color:#87dfe0;
  position:absolute;
  top:179%;
  width:50%;
  height:65%;
  right:0%;
  
  margin-top:0%;
  margin-left:0%;
	
 
	
	
	
}


.Area1Image2Description
{
  background-color:#87dfe0;
  position:absolute;
  top:179%;
  width:50%;
  height:65%;
  left:0%;
 
  margin-top:0%;
  margin-right:0%;
	
 
	
	
	
}


.Area1Image3 
{
  background-color:#f7f9ff;
  position:absolute;
  top:244%;
  width:50%;
  height:65%;
  left:0%;
  
  margin-top:0%;
  margin-right:0%;
 
	
	
	
}


.Area1Image3Description
{
  background-color:#f7f9ff;
  position:absolute;
  top:244%;
  width:50%;
  height:65%;
  right:0%;
  
  margin-top:0%;
  margin-right:0%;
 
	
	
	
}


#GalleryWall
{
	position:absolute;
	top:309%;
	width:100%;
	height:80%;
	margin-top:0%;	
	background-color:#152042;
	
	
}





#GalleryWallRoomImage
{
	position:absolute;
	top:35%;
	left:3%;
	width:25%;
	height:45%;
	margin-top:0%;	
	border-style:solid;
	border-color:white;
	border-width:3px;
	background-image:url(images/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
	
	
}


#GalleryWallConferenceImage
{
	position:absolute;
	top:24%;
	left:31%;
	width:16%;
	height:65%;
	margin-top:0%;	
	border-style:solid;
	border-color:white;
	border-width:3px;
	background-image:url(images/evelina-friman-hw_sKmjb0ns-unsplash.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
	
	
}

#GalleryWallFacilitiesImage
{
	position:absolute;
	top:28%;
	left:51%;
	width:25%;
	height:45%;
	margin-top:0%;	
	border-style:solid;
	border-color:white;
	border-width:3px;
	background-image:url(images/oleksii-ivanov-aHISuLxgCUE-unsplash.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
	
	
}

#GalleryWallEventsImage
{
	position:absolute;
	top:24%;
	left:80%;
	width:16%;
	height:65%;
	margin-top:0%;	
	border-style:solid;
	border-color:white;
	border-width:3px;
	background-image:url(images/zuza-galczynska-c5_eQi4rrjA-unsplash.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	
	
	
}






















#PicturePattern
{
	position:absolute;
	top:389%;
	width:100%;
	height:250%;
	margin-top:0%;	
	background-color:#f7f9ff;
	
}




#Area1Image1i
{
  
  position:absolute;
  height:80%;
  width:70%;
  background-size:contain;
  top:8%;
  left:5%;
  
  
	
	
	
	
	
	
}

#Area1Image2i1
{
  position:absolute;
  height:60%;
  width:60%;
  background-size:contain;
  top:8%;
  left:0%;
	
	
	
}

#Area1Image2i2
{
  position:absolute;
  height:60%;
  width:60%;
  background-size:contain;
  top:30%;
  left:36%;
	
	
	
}


#Area1Image3i
{
  
  position:absolute;
  height:80%;
  width:75%;
  background-size:contain;
  top:8%;
  left:5%;
  
  
	
	
	
	
	
	
}

#PicturePatterndes
{
  position:absolute;
  height:40%;
  width:50%;
  left:23%;
  right:8%;
  background-size:contain;
  border-style:;
	
	
	
	
}

.PicturePattern
{
  border-style:solid;
  	
	
	
}